body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.btn-hover:hover{
  box-shadow: 10px 10px 10px black ; 
}

.ReactCodeMirror, .CodeMirror{
  font-family:'Fira code'  ; 
  height : 100% !important; 
  font-size: 16px ; 
}

.CodeMirror-linenumbers{
  margin-right: 10px ; 
}

.mh1{
  margin-left: '100px' ; 
  margin-right: '100px' ; 
}